.main-menu {
  list-style: none;
  padding: 0;
}

.main-menu__item > a {
  display: block;
  padding-left: 15px;
  margin-bottom: 10px;
}

.project-name {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(102, 205, 215);
  border-bottom: 1px solid rgb(102, 205, 215);
}

.project-name > h1 {
  font-size: 120%;
  font-weight: 300;
  color: #595444
}

.project-name__input {
  width: 25%;
}

.project-name__output:empty {
  display: none;
}

.project-name__output {
  padding: 20px 0;
  padding-left: 50px;
  font-size: 150%;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f2a10;
}

.project-name__output::before {
  content: '⇒';
  display: inline-block;
  vertical-align: baseline;
  margin-right: 10px;
  font-size: 120%;
  color: rgb(6, 16, 57);
}

.error-message {
  display: block;
  margin: 20px 0;
  padding: 20px 10px;
  border-radius: 5px;
  border-width: 2px;
  border-style: ridge;
  border-color: orange;
  font-weight: 700;
  font-size: 120%;
  color: red;
}

.btn {
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  background-color: white;
  cursor: pointer;
}

.btn--global {
  display: block;
  margin-top: 30px;
  font-size: 120%;
  font-weight: bold;
}

.checklist h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.cheklist__wrap {
  padding: 10px;
  padding-left: 25px;
  border: 2px dashed green;
  border-radius: 20px;
}

.checklist__item {
  margin-bottom: 10px;
}

.checklist__item:last-child {
  margin-bottom: 0;
}